.signInButton{
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-850);
  color: var(--white);
  font-weight: bold;
  
  height: 3rem;
  width: 218px;
  
  padding: 0 1.5rem;
  border-radius: 3rem;
  border: 0;
  transition: filter 0.2s;

  &:hover{
    filter: brightness(0.8);
  }

  svg{
    width: 20px;
    height: 20px;
  }
  svg:first-child{
    margin-right: 0.5rem;
  }

  svg.closeIcon{
    margin-left: 1rem;
  }
}